#?delimiters [%, %], [%=, %]
[%
setXMLOutput()
%]

<InputParameters>
	<InputParameter name="sourceAddress" label="Source Address" />
	<InputParameter name="destinationAddress" label="Destination Address" />
</InputParameters>