#?delimiters [%, %], [%=, %]
<wr:Frame>
	<wr:Iterate var="cellElem" context="cell" select="layout:Component|layout:Field|layout:Event|layout:Attribute|layout:Fragment|layout:Grid">
		<wr:Element/>
	</wr:Iterate>
</wr:Frame>