#?delimiters [%,%],[%=,%]
[%setXMLOutput()%]
<ValidationRule service="com.webratio.components.web.validation.MandatoryValidationRuleService">
	<CompanionProperty>[%=element["companionField"]%]</CompanionProperty>
	<Predicate>[%=element["predicate"]%]</Predicate>
	<IgnoreCase>[%=element["ignoreCase"]%]</IgnoreCase>
	<Value>[%=element["value"]%]</Value>
</ValidationRule>