<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
  <extension point="org.eclipse.ui.editors"/>
  <extension point="com.webratio.commons.mf.ui.views.properties.tabbed.propertyContributor"/>
  <extension point="com.webratio.commons.mf.ui.views.properties.tabbed.propertyTabs"/>
  <extension point="com.webratio.commons.mf.ui.views.properties.tabbed.propertySections"/>
  <extension point="com.webratio.commons.mf.ui.uiInitializer">
    <uiInitializer class="com.webratio.bpm.signal.ui.BPMSignalUIInitializer"/>
  </extension>
</plugin>
