#?delimiters [%, %], [%=, %]
[% 
setJSONOutput()

%]{
	"prepare_queue": {
		"installed": [],
		"uninstalled": []
	},
	"config_munge": {
		"files": {}
	},
	"installed_plugins": {
		[% appInfo.plugins.selected.eachWithSeparator(",") { plugin -> %]
			"[%= plugin.pluginId %]": {
				"PACKAGE_NAME": "[%= appInfo.packageName %]"
			}
		[% } %]
	},
	"dependent_plugins": {}
}