<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dbTypes" name="dbTypes" schema="schema/dbTypes.exsd"/>
   <extension
         point="com.webratio.commons.db.dbTypes">
      <dbType
            caseStyle="upper"
            dataServicesSQL="DataServices/derby.sql"
            driverClass="org.apache.derby.jdbc.ClientDriver"
            formatNumberFunction="rtrim(cast(?1 as char(50)))"
            intervalToSecondsFunction="{fn TIMESTAMPDIFF(SQL_TSI_SECOND, ?1, ?2)}"
            metaDataProviderClass="com.webratio.commons.db.metadata.DerbyMetaDataProvider"
            name="Apache Derby"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.StdJDBCDelegate"
            quartzSQL="Quartz/derby.sql"
            sampleURL="jdbc:derby://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;;create=true"
            sqlDialectClass="org.hibernate.dialect.DerbyDialect"/>
      <dbType
            caseStyle="upper"
            constraintNameMaxLength="18"
            driverClass="COM.ibm.db2.jdbc.app.DB2Driver"
            driverFileNames="db2jcc.jar,db2jcc_license_cu.jar"
            intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider"
            name="DB2 (Type 2 App Driver)"
            quartzSQL="Quartz/db2_v8.sql"
            sampleURL="jdbc:db2:&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.DB2Dialect"/>
      <dbType
            caseStyle="upper"
            constraintNameMaxLength="18"
            driverClass="COM.ibm.db2.jdbc.net.DB2Driver"
            driverFileNames="db2java.jar,db2jcc.jar"
            intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider"
            name="DB2 (Type 3 Net Driver)"
            quartzSQL="Quartz/db2_v8.sql"
            sampleURL="jdbc:db2://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.DB2Dialect"/>
      <dbType
            caseStyle="upper"
            constraintNameMaxLength="18"
            driverClass="com.ibm.db2.jcc.DB2Driver"
            driverFileNames="db2jcc.jar,db2jcc_license_cu.jar"
            formatDateFunction="rtrim(char(?1, ISO))"
            formatNumberFunction="rtrim(cast(?1 as char(50)))"
            formatTimeFunction="rtrim(char(replace(char(?1, ISO), &apos;.&apos;, &apos;:&apos;)))"
            formatTimestampFunction="rtrim(char(date(?1), ISO)) || &apos; &apos; || rtrim(char(replace(char(time(?1), ISO), &apos;.&apos;, &apos;:&apos;))) || &apos;.0&apos;"
            intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider"
            name="DB2 Universal Driver"
            quartzSQL="Quartz/db2_v8.sql"
            sampleURL="jdbc:db2://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.DB2Dialect"/>
      <dbType
			caseStyle="upper" 
			constraintNameMaxLength="18" 
			driverClass="com.ibm.db2.jcc.DB2Driver" 
			driverFileNames="db2jcc.jar,db2jcc_license_cisuz.jar" 
			formatDateFunction="rtrim(char(?1, ISO))" 
			formatNumberFunction="rtrim(cast(?1 as char(50)))" 
			formatTimeFunction="rtrim(char(replace(char(?1, ISO), '.', ':')))" 
			formatTimestampFunction="rtrim(char(date(?1), ISO)) || ' ' || rtrim(char(replace(char(time(?1), ISO), '.', ':'))) || '.0'" 
			intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))" 
			metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider" 
			name="DB2 Universal Driver Mainframe ZOS" 
			quartzSQL="Quartz/db2_v8.sql" 
			sampleURL="jdbc:db2://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;" 
			sqlDialectClass="org.hibernate.dialect.DB2Dialect"/>
      <dbType
            caseStyle="upper"
            constraintNameMaxLength="18"
            driverClass="com.ibm.as400.access.AS400JDBCDriver"
            driverFileNames="jt400.jar"
            formatDateFunction="rtrim(char(?1, ISO))"
            formatNumberFunction="rtrim(cast(?1 as char(50)))"
            formatTimeFunction="rtrim(char(replace(char(?1, ISO), &apos;.&apos;, &apos;:&apos;)))"
            formatTimestampFunction="rtrim(char(date(?1), ISO)) || &apos; &apos; || rtrim(char(replace(char(time(?1), ISO), &apos;.&apos;, &apos;:&apos;))) || &apos;.0&apos;"
            intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider"
            name="DB2 (AS400)"
            quartzSQL="Quartz/db2_v8.sql"
            sampleURL="jdbc:as400://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.DB2400Dialect"/>      
      <dbType
            caseStyle="upper"
            constraintNameMaxLength="18"
            driverClass="COM.ibm.db2.jdbc.app.DB2Driver"
            driverFileNames="db2jcc.jar,db2jcc_license_cu.jar"
            intervalToSecondsFunction="(days(?2)-days(?1))*86400+(midnight_seconds(?2)-midnight_seconds(?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.DB2MetaDataProvider"
            name="DB2 (OS/390 - Type 2 App Driver)"
            quartzSQL="Quartz/db2_v8.sql"
            sampleURL="jdbc:db2:&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.DB2390Dialect"/>
      <dbType
            caseStyle="lower"
            driverClass="com.informix.jdbc.IfxDriver"
            driverFileNames="ifxjdbc.jar"
            extractTimeFunction="to_char(?1, '%H:%M:%S')"
            formatDateFunction="to_char(?1, '%Y-%m-%d')"
            formatTimeFunction="to_char(?1, '%H:%M:%S')"
            formatTimestampFunction="to_char(?1, '%Y-%m-%d %H:%M:%S%F3')"
            intervalToSecondsFunction="(?2 - ?1)::interval second(9) to second::char(10)::int"
            metaDataProviderClass="com.webratio.commons.db.metadata.InformixMetaDataProvider"
            name="Informix"
            quartzDelegateClass="com.webratio.rtx.jobs.informix.InformixDelegate"
            quartzSQL="Quartz/informix.sql"
            sampleURL="jdbc:informix-sqli://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;:informixserver=&lt;server&gt;;DELIMIDENT=Y"
            sqlDialectClass="com.webratio.hibernate.dialect.InformixDialect">
      </dbType>
      <dbType
            caseStyle="upper"
            driverClass="sun.jdbc.odbc.JdbcOdbcDriver"
            metaDataProviderClass="com.webratio.commons.db.metadata.AccessMetaDataProvider"
            name="ODBC"
            sampleURL="jdbc:odbc:&lt;dns&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.AccessDialect"/>
      <dbType
            caseStyle="upper"
            dataServicesSQL="DataServices/sqlserver.sql"
            driverClass="com.microsoft.jdbc.sqlserver.SQLServerDriver"
            driverFileNames="msbase.jar,mssqlserver.jar,msutil.jar"
            extractTimeFunction="convert(varchar(8), ?1, 114)"
            formatDateFunction="convert(varchar(10), ?1, 120) "
            formatNumberFunction="cast(?1 as varchar(max))"
            formatTimeFunction="convert(varchar(8), ?1, 114) "
            formatTimestampFunction="convert(varchar(21), ?1, 121) "
            intervalToSecondsFunction="datediff(second, ?1, ?2)"
            metaDataProviderClass="com.webratio.commons.db.metadata.SQLServerMetaDataProvider"
            name="Microsoft SQL Server (Old)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
            quartzSQL="Quartz/sqlserver.sql"
            sampleURL="jdbc:microsoft:sqlserver://&lt;host&gt;:&lt;port&gt;;DatabaseName=&lt;database&gt;;SelectMethod=Cursor"
            sqlDialectClass="org.hibernate.dialect.SQLServerDialect"/>
       <dbType
             caseStyle="upper"
             dataServicesSQL="DataServices/sqlserver.sql"
             driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
             driverFileNames="sqljdbc.jar"
             extractTimeFunction="convert(varchar(8), ?1, 114)"
             formatDateFunction="convert(varchar(10), ?1, 120)"
             formatNumberFunction="cast(?1 as varchar)"
             formatTimeFunction="convert(varchar(8), ?1, 114)"
             formatTimestampFunction="convert(varchar(23), ?1, 121)"
             intervalToSecondsFunction="datediff(second, ?1, ?2)"
             metaDataProviderClass="com.webratio.commons.db.metadata.SQLServerMetaDataProvider"
             name="Microsoft SQL Server 2000 (2005 Driver)"
             quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
             quartzSQL="Quartz/sqlserver.sql"
             sampleURL="jdbc:sqlserver://&lt;host&gt;:&lt;port&gt;;databaseName=&lt;database&gt;"
             sqlDialectClass="org.hibernate.dialect.SQLServerDialect"/>
      <dbType
            caseStyle="upper"
            dataServicesSQL="DataServices/sqlserver.sql"
            driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
            driverFileNames="sqljdbc.jar"
            extractTimeFunction="convert(varchar(8), ?1, 114)"
            formatDateFunction="convert(varchar(10), ?1, 120)"
            formatNumberFunction="cast(?1 as varchar(max))"
            formatTimeFunction="convert(varchar(8), ?1, 114)"
            formatTimestampFunction="convert(varchar(23), ?1, 121)"
            intervalToSecondsFunction="datediff(second, ?1, ?2)"
            metaDataProviderClass="com.webratio.commons.db.metadata.SQLServerMetaDataProvider"
            name="Microsoft SQL Server 2005"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
            quartzSQL="Quartz/sqlserver.sql"
            sampleURL="jdbc:sqlserver://&lt;host&gt;:&lt;port&gt;;databaseName=&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.SQLServer2005Dialect"/>
      <dbType
            caseStyle="upper"
            dataServicesSQL="DataServices/sqlserver.sql"
            driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
            driverFileNames="sqljdbc.jar"
            extractTimeFunction="convert(varchar(8), ?1, 114)"
            formatDateFunction="convert(varchar(10), ?1, 120)"
            formatNumberFunction="cast(?1 as varchar(max))"
            formatTimeFunction="convert(varchar(8), ?1, 114)"
            formatTimestampFunction="convert(varchar(23), ?1, 121)"
            intervalToSecondsFunction="datediff(second, ?1, ?2)"
            metaDataProviderClass="com.webratio.commons.db.metadata.SQLServerMetaDataProvider"
            name="Microsoft SQL Server 2008"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
            quartzSQL="Quartz/sqlserver.sql"
            sampleURL="jdbc:sqlserver://&lt;host&gt;:&lt;port&gt;;databaseName=&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.SQLServer2008Dialect">
      </dbType>
      <dbType
            caseStyle="upper"
            dataServicesSQL="DataServices/sqlserver.sql"
            driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
            driverFileNames="sqljdbc.jar"
            extractTimeFunction="convert(varchar(8), ?1, 114)"
            formatDateFunction="convert(varchar(10), ?1, 120)"
            formatNumberFunction="cast(?1 as varchar(max))"
            formatTimeFunction="convert(varchar(8), ?1, 114)"
            formatTimestampFunction="convert(varchar(23), ?1, 121)"
            intervalToSecondsFunction="datediff(second, ?1, ?2)"
            metaDataProviderClass="com.webratio.commons.db.metadata.SQLServerMetaDataProvider"
            name="Microsoft SQL Server 2012"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
            quartzSQL="Quartz/sqlserver.sql"
            sampleURL="jdbc:sqlserver://&lt;host&gt;:&lt;port&gt;;databaseName=&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.SQLServer2008Dialect">
      </dbType>

      <dbType
            blobReaderClass="com.webratio.data.hibernate.persisters.lob.MySQL5BlobReader"
            caseStyle="lower"
            dataServicesSQL="DataServices/mysql.sql"
            driverClass="com.mysql.jdbc.Driver"
            driverFileNames="mysql-connector-java.jar"
            formatDateFunction="date_format(?1, &apos;%Y-%m-%d&apos;)"
            formatTimeFunction="date_format(?1, &apos;%H:%i:%S&apos;)"
            formatTimestampFunction="concat(date_format(?1, &apos;%Y-%m-%d %H:%i:%S&apos;), &apos;.0&apos;)"
            generateIndexOnForeignKey="true"
            intervalToSecondsFunction="time_to_sec(timediff(?2, ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.MySQLMetaDataProvider"
            name="MySQL"
            quartzSQL="Quartz/mysql_innodb.sql"
            sampleURL="jdbc:mysql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.MySQL5Dialect"/>
      <dbType
            blobReaderClass="com.webratio.data.hibernate.persisters.lob.MySQL5BlobReader"
            caseStyle="lower"
            dataServicesSQL="DataServices/mysql.sql"
            driverClass="com.mysql.jdbc.Driver"
            driverFileNames="mysql-connector-java.jar"
            formatDateFunction="date_format(?1, &apos;%Y-%m-%d&apos;)"
            formatTimeFunction="date_format(?1, &apos;%H:%i:%S&apos;)"
            formatTimestampFunction="concat(date_format(?1, &apos;%Y-%m-%d %H:%i:%S&apos;), &apos;.0&apos;)"
            generateIndexOnForeignKey="true"
            intervalToSecondsFunction="time_to_sec(timediff(?2, ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.MySQLMetaDataProvider"
            name="MySQL (InnoDB)"
            quartzSQL="Quartz/mysql_innodb.sql"
            sampleURL="jdbc:mysql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.MySQL5InnoDBDialect"/> 
      <dbType
            blobReaderClass="com.webratio.data.hibernate.persisters.lob.MySQL5BlobReader"
            caseStyle="lower"
            dataServicesSQL="DataServices/mysql.sql"
            driverClass="com.mysql.jdbc.Driver"
            driverFileNames="mysql-connector-java.jar"
            formatDateFunction="date_format(?1, &apos;%Y-%m-%d&apos;)"
            formatTimeFunction="date_format(?1, &apos;%H:%i:%S&apos;)"
            formatTimestampFunction="concat(date_format(?1, &apos;%Y-%m-%d %H:%i:%S&apos;), &apos;.0&apos;)"
            generateIndexOnForeignKey="true"
            intervalToSecondsFunction="time_to_sec(timediff(?2, ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.MySQLMetaDataProvider"
            name="MySQL (MyISAM)"
            quartzSQL="Quartz/mysql.sql"
            sampleURL="jdbc:mysql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="org.hibernate.dialect.MySQLMyISAMDialect"/>
      <dbType
            blobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleBlobPersister"
            caseStyle="upper"
            clobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleClobPersister"
            dataServicesSQL="DataServices/oracle.sql"
            driverClass="oracle.jdbc.driver.OracleDriver"
            driverFileNames="classes12.jar"
            extractTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatNumberFunction="to_char(?1)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(?1, &apos;YYYY-MM-DD HH24:MI:SS&apos;) || &apos;.0&apos;"
            inClauseMaxCardinality="254"
            intervalToSecondsFunction="extract(day from (?2 - ?1))*24*60*60 + extract(hour from (?2 - ?1))*60*60 + extract(minute from (?2 - ?1))*60 + extract(second from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.OracleMetaDataProvider"
            name="Oracle 8i (Thin Driver)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.oracle.OracleDelegate"
            quartzSQL="Quartz/oracle.sql"
            sampleURL="jdbc:oracle:thin:@&lt;host&gt;:&lt;port&gt;:&lt;sid&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.Oracle8iDialect"/>
      <dbType
            blobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleBlobPersister"
            caseStyle="upper"
            clobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleClobPersister"
            dataServicesSQL="DataServices/oracle.sql"
            driverClass="oracle.jdbc.driver.OracleDriver"
            driverFileNames="ojdbc14-oracle9i.jar"
            extractTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatNumberFunction="to_char(?1)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(cast(?1 as TIMESTAMP(3)), &apos;YYYY-MM-DD HH24:MI:SS.FF3&apos;)"
            inClauseMaxCardinality="1000"
            intervalToSecondsFunction="extract(day from (?2 - ?1))*24*60*60 + extract(hour from (?2 - ?1))*60*60 + extract(minute from (?2 - ?1))*60 + extract(second from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.OracleMetaDataProvider"
            name="Oracle 9i (Thin Driver)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.oracle.OracleDelegate"
            quartzSQL="Quartz/oracle.sql"
            sampleURL="jdbc:oracle:thin:@&lt;host&gt;:&lt;port&gt;:&lt;sid&gt;"
            sqlDialectClass="org.hibernate.dialect.Oracle9iDialect"/>
      <dbType
            blobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleBlobPersister"
            caseStyle="upper"
            clobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleClobPersister"
            dataServicesSQL="DataServices/oracle.sql"
            driverClass="oracle.jdbc.driver.OracleDriver"
            driverFileNames="ojdbc14-oracle10g.jar"
            extractTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatNumberFunction="to_char(?1)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(cast(?1 as TIMESTAMP(3)), &apos;YYYY-MM-DD HH24:MI:SS.FF3&apos;)"
            inClauseMaxCardinality="1000"
            intervalToSecondsFunction="extract(day from (?2 - ?1))*24*60*60 + extract(hour from (?2 - ?1))*60*60 + extract(minute from (?2 - ?1))*60 + extract(second from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.OracleMetaDataProvider"
            name="Oracle 10g (Thin Driver)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.oracle.OracleDelegate"
            quartzSQL="Quartz/oracle.sql"
            sampleURL="jdbc:oracle:thin:@&lt;host&gt;:&lt;port&gt;:&lt;sid&gt;"
            sqlDialectClass="org.hibernate.dialect.Oracle10gDialect"/>            
      <dbType
            blobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleBlobPersister"
            caseStyle="upper"
            clobPersisterClass="com.webratio.data.hibernate.persisters.lob.OracleClobPersister"
            dataServicesSQL="DataServices/oracle.sql"
            driverClass="oracle.jdbc.driver.OracleDriver"
            driverFileNames="ojdbc14-oracle11g.jar"
            extractTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatNumberFunction="to_char(?1)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(cast(?1 as TIMESTAMP(3)), &apos;YYYY-MM-DD HH24:MI:SS.FF3&apos;)"
            inClauseMaxCardinality="1000"
            intervalToSecondsFunction="extract(day from (?2 - ?1))*24*60*60 + extract(hour from (?2 - ?1))*60*60 + extract(minute from (?2 - ?1))*60 + extract(second from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.OracleMetaDataProvider"
            name="Oracle 11g (Thin Driver)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.oracle.OracleDelegate"
            quartzSQL="Quartz/oracle.sql"
            sampleURL="jdbc:oracle:thin:@&lt;host&gt;:&lt;port&gt;:&lt;sid&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.Oracle11gDialect"/>
      <dbType
            blobPersisterClass="com.webratio.rtx.lob.OracleBlobPersister"
            caseStyle="upper"
            clobPersisterClass="com.webratio.rtx.lob.OracleClobPersister"
			dataServicesSQL="DataServices/oracle.sql"
            driverClass="oracle.jdbc.driver.OracleDriver"
            driverFileNames="ojdbc14-oracle12c.jar"
            extractTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatNumberFunction="to_char(?1)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(cast(?1 as TIMESTAMP(3)), &apos;YYYY-MM-DD HH24:MI:SS.FF3&apos;)"
            intervalToSecondsFunction="extract(day from (?2 - ?1))*24*60*60 + extract(hour from (?2 - ?1))*60*60 + extract(minute from (?2 - ?1))*60 + extract(second from (?2 - ?1))"
            inClauseMaxCardinality="1000"
            metaDataProviderClass="com.webratio.commons.db.metadata.OracleMetaDataProvider"
            name="Oracle 12c (Thin Driver)"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.oracle.OracleDelegate"
            quartzSQL="tables_oracle.sql"
            sampleURL="jdbc:oracle:thin:@&lt;host&gt;:&lt;port&gt;:&lt;sid&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.Oracle11gDialect"/>      
      <dbType
            caseStyle="lower"
            dataServicesSQL="DataServices/postgres.sql"
            driverClass="org.postgresql.Driver"
            driverFileNames="pg74.jdbc2.jar"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(?1, &apos;YYYY-MM-DD HH24:MI:SS.MS&apos;)"
            intervalToSecondsFunction="extract(epoch from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.PostgreSQLMetaDataProvider"
            name="PostgreSQL 7"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.PostgreSQLDelegate"
            quartzSQL="Quartz/postgres7.sql"
            sampleURL="jdbc:postgresql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.PostgreSQLDialect"
            systemColumnNames="oid tableoid xmin cmin xmax cmax ctid"/>
      <dbType
            caseStyle="lower"
            dataServicesSQL="DataServices/postgres.sql"
            driverClass="org.postgresql.Driver"
            driverFileNames="postgresql-8.jdbc2.jar"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(?1, &apos;YYYY-MM-DD HH24:MI:SS.MS&apos;)"
            intervalToSecondsFunction="extract(epoch from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.PostgreSQLMetaDataProvider"
            name="PostgreSQL 8"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.PostgreSQLDelegate"
            quartzSQL="Quartz/postgres.sql"
            sampleURL="jdbc:postgresql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.PostgreSQLDialect"/>
      <dbType
            caseStyle="lower"
            dataServicesSQL="DataServices/postgres.sql"
            driverClass="org.postgresql.Driver"
            driverFileNames="postgresql-9.jdbc3.jar"
            formatDateFunction="to_char(?1, &apos;YYYY-MM-DD&apos;)"
            formatTimeFunction="to_char(?1, &apos;HH24:MI:SS&apos;)"
            formatTimestampFunction="to_char(?1, &apos;YYYY-MM-DD HH24:MI:SS.MS&apos;)"
            intervalToSecondsFunction="extract(epoch from (?2 - ?1))"
            metaDataProviderClass="com.webratio.commons.db.metadata.PostgreSQLMetaDataProvider"
            name="PostgreSQL 9"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.PostgreSQLDelegate"
            quartzSQL="Quartz/postgres.sql"
            sampleURL="jdbc:postgresql://&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.PostgreSQLDialect"/>
      <dbType
            caseStyle="upper"
            driverClass="com.sybase.jdbc3.jdbc.SybDriver"
            driverFileNames="jconn3.jar"
            extractTimeFunction="convert(varchar(8), ?1, 108)"
            formatDateFunction="convert(varchar(10), ?1, 23)"
            formatNumberFunction="cast(?1 as varchar)"
            formatTimeFunction="convert(varchar(8), ?1, 108) "
            formatTimestampFunction="str_replace(convert(varchar(21), ?1, 23), 'T', ' ') || &apos;.0&apos;"
            intervalToSecondsFunction="datediff(second, ?1, ?2)"
            metaDataProviderClass="com.webratio.commons.db.metadata.SybaseASE15MetaDataProvider"
            name="Sybase Adaptive Server 15.x"
            quartzDelegateClass="org.quartz.impl.jdbcjobstore.MSSQLDelegate"
            quartzSQL="Quartz/sybase.sql"
            sampleURL="jdbc:sybase:Tds:&lt;host&gt;:&lt;port&gt;/&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.SybaseASE15Dialect"/>
      <dbType
            caseStyle="lower"
            driverClass="com.teradata.jdbc.TeraDriver"
            driverFileNames="terajdbc4.jar,tdgssconfig.jar"
            extractTimeFunction="cast(cast(?1 as time(6) format 'HH:MI:SS') as varchar(8))"
            formatDateFunction="cast(cast(?1 as date format 'YYYY-MM-DD') as varchar(10))"
            formatTimeFunction="cast(cast(?1 as time(6) format 'HH:MI:SS') as varchar(8))"
            formatTimestampFunction="cast(cast(?1 as date format 'YYYY-MM-DD') as varchar(10)) || ' ' || cast(cast(?1 as timestamp format 'HH:MI:SS.s(3)') as varchar(12))"
            intervalToSecondsFunction="(extract(day from (?2 - ?1 day(4) to second)) * 86400) + (extract(hour from (?2 - ?1 day(4) to second)) * 3600) + (extract(minute from (?2 - ?1 day(4) to second)) * 60) + extract(second from (?2 - ?1 day(4) to second))"
            metaDataProviderClass="com.webratio.commons.db.metadata.TeradataMetaDataProvider"
            name="Teradata"
            quartzSQL="Quartz/teradata.sql"
            sampleURL="jdbc:teradata://[&lt;host&gt;/]&lt;database&gt;/DBS_PORT=&lt;port&gt;,TMODE=TERA"
            sqlDialectClass="com.webratio.hibernate.dialect.TeradataDialect"
            forceAutoCommitOnSQLScripts="true"/>

      <!--
      <dbType name="FrontBase"/>
      <dbType name="SQLBase"/>
      -->
      
      <dbType
            caseStyle="lower"
            driverClass="ctree.jdbc.ctreeDriver"
            driverFileNames="ctreeJDBC.jar"
            formatDateFunction="RTRIM(TO_CHAR(?1, &apos;yyyy-MM-dd&apos;))"
            formatNumberFunction="RTRIM(CAST(?1 as char(50)))"
            formatTimeFunction="RTRIM(TO_CHAR(?1, &apos;HHHH24:MI:SS&apos;))s;, &apos;:&apos;)))"
            formatTimestampFunction="CONCAT(RTRIM(TO_CHAR(?1, &apos;yyyy-MM-dd HH24:MI:SS&apos;)),&apos;.0&apos;)"
            metaDataProviderClass="com.webratio.commons.db.metadata.DefaultMetaDataProvider"
            name="c-treeACE SQL"
            quartzSQL="Quartz/ctree.sql"
            sampleURL="jdbc:ctree:&lt;port&gt;@&lt;host&gt;:&lt;database&gt;"
            sqlDialectClass="com.webratio.hibernate.dialect.CTreeSQLDialect">
      </dbType>
      
      
       <dbType
             caseStyle="upper"
             constraintNameMaxLength="-1"
             driverClass="org.h2.Driver"
             metaDataProviderClass="com.webratio.commons.db.metadata.DefaultMetaDataProvider"
             name="H2 (in-memory)"
             nameMaxLength="-1"
             sampleURL="jdbc:h2:mem:"
             sqlDialectClass="org.hibernate.dialect.H2Dialect"/>
   </extension>

</plugin>
