<?xml version="1.0" encoding="UTF-8"?>
<Root>
  
  <!-- VARIABLES -->
  
  <Variable 
      name="document"
      type="Document"
      templateTypes="xml">
    <Description>
      Input XML document to transform.
    </Description>
  </Variable>
  
  <Variable 
      name="inputParams"
      type="java.util.Map"
      templateTypes="xml">
    <Description>
      Map of template input parameters, keyed by their name.
      Input parameters are declared by &lt;wr:Input /&gt; tags.
    </Description>
  </Variable>
  
  <Variable 
      name="outputParams"
      type="java.util.Map"
      templateTypes="xml">
    <Description>
      Map for storing output parameter values, using their name as key.
      Output parameters that will be processed are the ones declared by
      &lt;wr:Output /&gt; tags.
    </Description>
  </Variable>
  
  <!-- FUNCTIONS -->
  
  <Function 
      declaration="registerNamespace(String prefix, String uri)"
      returnType=""
      templateTypes="xml">
    <Description>
      Binds a namespace URI to a prefix. The prefix can then be used
      in subsequent XPath expressions.
    </Description>
    <Usage>
    	registerNamespace("foo", "http://www.example.com/schemas/foo")
    </Usage>
  </Function>
  
  <Function 
      declaration="printRaw(String string)"
      returnType=""
      templateTypes="xml">
    <Description>
      Prints the passed string argument to the template output without any modification.
    </Description>
    <Usage>
        printRaw(string)
    </Usage>
  </Function>
  
</Root>