<!-- directive: wr-screen scr12 -->
<div>
	<ion-header-bar class="bar-positive" align-title="center">
		<h1 class="title"> 
			<span class="wr-frag-applicationName ">Guia de Calouro</span>
		</h1>
		<div class="buttons pull-right">
			<button type="button" class="button " ng-click="screen.throwEvent($event, 'HomeEvent', null, { position: $index })">
			{{ 'event.Home' | wrLocalize }}
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header has-footer wr-safe-area">
		<!-- directive: wr-component dau5 -->
		<div class=" wr-comp-Details">
			<div ng-if="view.data" class="list card">
				<div class="item item-divider">{{ 'Detalhes' | wrLocalize }}</div>
				<div class="item ">
					<h2>{{ view.data.nome }}</h2>
					<p>{{ view.data.descricao }}</p>
				</div>
				<div class="item item-attribute item-body">
					{{ 'endereco' | wrLocalize }}
					<p>{{ view.data.endereco }}</p>
				</div>
				<div class="item item-attribute item-body">
					{{ 'link' | wrLocalize }}
					<p><a wr-external-open target="_system" ng-href="{{ view.data.link }}">{{ view.data.link }}</a></p>
				</div>
				<div class="item item-attribute item-body">
					{{ 'telefone' | wrLocalize }}
					<p>{{ view.data.telefone }}</p>
				</div>
				<div class="item item-image">
					<span wr-blob="view.data.logo" class="wr-attr-image ">
					<img ng-show="blob.url" ng-src="{{ blob.url }}" />
					<span ng-show="blob.loading" class="wr-placeholder icon ion-load-d"></span>
					<span ng-show="blob.failed" class="wr-placeholder icon ion-alert-circled"></span>
					</span>
				</div>
			</div>
		</div>
		<!-- end_directive: wr-component -->
	</ion-content>
	<ion-footer-bar keyboard-attach class="bar-positive hide-on-keyboard-open" align-title="center">
		<div class="buttons">
			<button type="button" class="button " ng-click="screen.throwEvent($event, 'BackEvent', null, { position: $index })">
			{{ 'event.Back' | wrLocalize }}
			</button>
		</div>
	</ion-footer-bar>
</div>
<!-- end_directive: wr-screen -->
