<!-- directive: wr-screen scr14 -->
<div>
	<ion-header-bar class="bar-positive" align-title="center">
		<h1 class="title"> 
			<span class="wr-frag-applicationName ">Guia de Calouro</span>
		</h1>
		<div class="buttons pull-right">
			<button type="button" class="button " ng-click="screen.throwEvent($event, 'HomeEvent', null, { position: $index })">
			{{ 'event.Home' | wrLocalize }}
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header has-footer wr-safe-area">
		<!-- directive: wr-component enu7 -->
		<form class=" wr-comp-Form list ">
			<div class="item item-divider">{{ 'Cadastrar Categoria' | wrLocalize }}</div>
			<label class="item item-input " ng-class="{ 'has-errors' : view.formState.fld17.invalid }">
				<span class="input-label" ng-class="{ 'has-errors' : view.formState.fld17.invalid }">
				{{ 'Nome' | wrLocalize }}
				</span>
				<div class="wr-input-wrapper">
					<input type="text" ng-model="view.form.fld17" wr-form-property />
					<ul class="wr-error-list" ng-if="view.formState.fld17.errors.length">
						<li ng-repeat="error in view.formState.fld17.errors track by $index">
							{{ error }}
						</li>
					</ul>
				</div>
			</label>
			<label class="item item-input " ng-class="{ 'has-errors' : view.formState.fld18.invalid }">
				<span class="input-label" ng-class="{ 'has-errors' : view.formState.fld18.invalid }">
				{{ 'Descri\u00E7\u00E3o' | wrLocalize }}
				</span>
				<div class="wr-input-wrapper">
					<input type="text" ng-model="view.form.fld18" wr-form-property />
					<ul class="wr-error-list" ng-if="view.formState.fld18.errors.length">
						<li ng-repeat="error in view.formState.fld18.errors track by $index">
							{{ error }}
						</li>
					</ul>
				</div>
			</label>
			<div class="item-buttons">    
				<button type="button" class="button " ng-click="screen.throwEvent($event, 'OnSelectEvent', 'oslte8', { position: $index })">
				{{ 'Save' | wrLocalize }}
				</button>
			</div>
		</form>
		<!-- end_directive: wr-component -->
	</ion-content>
	<ion-footer-bar keyboard-attach class="bar-positive hide-on-keyboard-open" align-title="center">
		<div class="buttons">
			<button type="button" class="button " ng-click="screen.throwEvent($event, 'BackEvent', null, { position: $index })">
			{{ 'event.Back' | wrLocalize }}
			</button>
		</div>
	</ion-footer-bar>
</div>
<!-- end_directive: wr-screen -->
