#?delimiters [%, %], [%=, %]
<wr:LayoutParameter name="escape-xml" label="Escape XML" type="boolean" default="true">
Permits to enable or disable the XML entities escaping of the printed value.
</wr:LayoutParameter>
[%setHTMLOutput()%]
<c:out value="${<wr:Id context="component"/>.result}" escapeXml="[%=params["escape-xml"]%]"/>