#?delimiters <%,%>,<%=,%>
<%setXMLOutput()%>
<ValidationRule service="com.webratio.components.web.validation.CheckedFieldItemsValidationRuleService">
  <Predicate><%=element["predicate"]%></Predicate>
  <ItemCount><%=element["itemCount"]%></ItemCount>
</ValidationRule>