#?delimiters <%,%>,<%=,%>
<%setXMLOutput()%>
<OutputParameters>
   <% for (par in component.selectNodes("CollectorParameter")) { %>
       <OutputParameter name="<%=par["id"]%>" label="<%=par["name"]%>"/>
   <% } %> 
</OutputParameters>