#?delimiters [%, %], [%=, %]
[%
	def tooltipComponent = element?.selectSingleNode("ancestor::layout:Component")
%]
[% if (tooltipComponent && tooltipComponent["ajaxTooltipEnabled"] == "true" && tooltipComponent["ajaxTooltipElement"] == elementType) { %]
	</div>
[% } %]