#?delimiters [%,%],[%=,%]
[% setJSONOutput() %]
{
	"service": "wrm.comp.val.RegularExpressionValidationRuleService",
	"regex": "[%= element["regex"] %]",
	"ignoreCase": [%= element["ignoreCase"] == "true" %]
}